<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type='image/x-icon' rel='shortcut icon' href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Certificaciones</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <style>
        body {
            background: radial-gradient(circle at 67.6% 20.39%, rgba(255, 255, 255, 0.5), transparent 69%),
                radial-gradient(circle at 88.75% 28.67%, rgba(255, 255, 255, 0.5), transparent 60%),
                radial-gradient(circle at 13.33% 0.38%, #bedbf752, transparent 38%),
                radial-gradient(circle at 86.77% 1.6%, #bedbf752, transparent 39%),
                radial-gradient(circle at 81.09% 74.15%, rgba(255, 255, 255, 0.5), transparent 57%),
                radial-gradient(circle at 67.81% 96.71%, #bedbf752, transparent 36%),
                radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%);
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: 'Montserrat', sans-serif;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>

<body>
    <div>
        {% include 'header.html' %}
    </div>

    <div class="container">
        <div class="text-right" style="margin: 10px;">
            <a href="{{ url_for('logout') }}" class="btn btn-danger">Cerrar Sesión</a>
        </div>
        <div class="row">

            <form id="form1" name="form1" action="/add_oficios" method="POST">
                <div class="col-md-6">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nDocumento">Número de Documento</label>
                                <input type="text" class="form-control" name="nDocumento" id="nDocumento" required />
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Usuario">Nombre Del Funcionario</label>
                                <h4 name="Usuario" id="Usuario">{{ nombre_usuario }}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <input type="hidden" id="id_oficio" value="{{ id_oficio }}">

                        <!-- *********************************** -->

                        <div class="col-md-6">
                            <div class="form-group">

                                <label for="tipoDocumento">Tipo de Documento</label>
                                <select name="tipoDocumento" class="form-control" id="tipoDocumento">
                                    <option value="1" selected="selected">Seleccione</option>
                                    {% for tipoDoc in tipodocumento %}
                                    <option value="{{ tipoDoc[0] }}">{{ tipoDoc[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group">

                                <label for="motivoAutorizacion">Motivo de autorización</label>
                                <select name="motivoAutorizacion" class="form-control" id="motivoAutorizacion">
                                    <option value="-1" selected="selected">Seleccione</option>
                                    {% for motivo in motivoautorizacion %}
                                    <option value="{{ motivo[0] }}">{{ motivo[1] }}</option>
                                    {% endfor %}
                                </select>

                            </div>

                        </div>
                    </div>

                    <label for="validacionDocumentos">Validación Documentos</label>
                    <div id="checkboxes">
                        <div class="row">
                            {% for doc in validaciondocumentos %}
                            <div class="col-md-6">
                                <label for="vDoc" class="checkbox-inline">
                                    <input type="checkbox" name="vDoc" id="vDoc{{ doc[0] }}" value="{{ doc[0] }}">
                                    {{ doc[1] }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="aPlano">Archivo Plano</label>
                        <textarea class="form-control" name="aPlano" id="aPlano" rows="2"></textarea>


                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nombreCompleto">Nombre</label>
                                <input type="text" name="nombreCompleto" class="form-control" id="nombreCompleto" />

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="banco">Banco</label>
                                <select name="banco" class="form-control" id="banco">
                                    <option value="1" selected="selected">Seleccione</option>
                                    {% for banco in bancos %}
                                    <option value="{{ banco[0] }}">{{ banco[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dfecha">Fecha Consignación </label>
                                <input type="date" name="dfecha" id="dFecha" class="form-control">

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="valorConsignacion">Valor de Consignación </label>
                                <input type="text" name="valorConsignacion" id="valorConsignacion" class="form-control">

                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">

                                <label for="lTramite">Lugar del trámite</label>
                                <select name="lTramite" id="lTramite" class="form-control">
                                    <option value="lTramite" selected="selected">Seleccione</option>
                                    <option value="Bogota D.C">Bogota D.C</option>
                                    {% for dtos in departamentos %}
                                    <option value="{{ dtos[0] }}">{{ dtos[1] }}</option>
                                    {% endfor %}
                                </select>

                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lLocalidad">Localidad Trámite</label>
                                <select name="lLocalidad" id="lLocalidad" class="form-control">
                                    <option value="">No seleccionado</option>
                                    {% for loc in localidades %}
                                    <option value="{{ loc[0] }}">{{ loc[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="observacion">Observaciones </label>
                        <textarea class="form-control" name="observacion" id="observacion" rows="2"></textarea>
                    </div>

                    <div class="form-group">
                        <label id="botonPdf">
                            <button type="submit" class="btn btn-danger" id="btnGuardar">Guardar</button>
                        </label>
                    </div>
            </form>
        </div>

        <div id="pdf-content" class="col-md-6"
            style="border-style:ridge; background-image: url('static/img/plantillaRecaudos.jpg'); width: 560px; height: 750px;">
            <div style="padding:115px 0 0 20px;">
                <h5>DF-GCR– <b id="txtOficio"></b> </h5>
                <h5 id="horaActual">Bogotá D.C. 27-08-2024 10:03:25</h5>
                <p>
                    <b>Señor Delegados Departamentales de </b><b id="txtTramite"></b><br>
                    <span id="localidad-text" style="display:none;">
                        <b>De la localidad De</b> <b id="txtTramite2"></b>
                    </span>
                </p>
                <p><b>Ref: TRÁMITE DE DUPLICADO DE </b> <b id="txtTipoDocumento"></b></p>
                <h6>FECHA DE GENERACIÓN DOCUMENTO : </h6>
                <h6>FECHA DE CADUCIDAD DE ESTE DOCUMENTO : </h6>
                <p>
                    <small> Respetados doctores. <br>
                        De manera atenta me permito informar que revisados los archivos planos <span
                            id="particulaBanco"></span>
                        <b id="txtBanco"></b> se verificó la siguiente consignación:
                    </small>
                </p>
                <table border="1" width="480px" height="100px">
                    <th id="txtPlano" class="txtPlano" style="font-size: 20px;"></th>
                </table>
                <input type="text" id="aPlano" class="hidden">
                <p class="text-justify"><small>
                        Por lo tanto se Certifica el ingreso de los recursos a la cuenta del FRR para el trámite de
                        duplicado de <b id="txtTipoDocumento"> </b> al ciudadano(a):
                        <b id="txtNombre"> </b> con cupo numérico: <b id="txtDocumento"> </b>, el cual se presenta por
                        <b id="txtMotivo"> </b>, favor recibir la siguiente
                        documentación <b id="txtValidacion"> </b>, y verificar en su correo electrónico el código único:
                        <b id="txtCodigoUnico"> </b> de autorización de validez del documento, generado en la
                        coordinación de recaudos que se enviará a su correo inmediatamente se haya generado este
                        documento.
                        Cordialmente,
                    </small></p>
                <p>
                    CARLOS ANDRÉS CONTRERAS GONZÁLEZ<br>
                    Coordinador Control de Recaudos
                </p>
                <p class="firma" id="firma"></p>
                <small><input type="hidden" name="ip" id="ip" value="172.23.11.96"></small>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

    <script>
        document.getElementById("form1").addEventListener("submit", function (event) {
            event.preventDefault();  // Evitar el envío del formulario dos veces

            // Capturar los valores del formulario
            var nDocumento = document.getElementById("nDocumento").value;
            const Usuario = document.getElementById("Usuario").textContent;
            var tipoDocumento = document.getElementById("tipoDocumento").options[document.getElementById("tipoDocumento").selectedIndex].text;
            var motivoAutorizacion = document.getElementById("motivoAutorizacion").options[document.getElementById("motivoAutorizacion").selectedIndex].text;
            // Capturar aPlano y aplicar límite
            var aPlano = document.getElementById("aPlano").value;
            var maxLength = 500; // Definir el límite de caracteres
            if (aPlano.length > maxLength) {
                aPlano = aPlano.substring(0, maxLength);
                alert(`El texto ha superado el limite de ${maxLength} caracteres.`);
            }
            var nombreCompleto = document.getElementById("nombreCompleto").value;
            var banco = document.getElementById("banco").options[document.getElementById("banco").selectedIndex].text;
            var lTramite = document.getElementById("lTramite").options[document.getElementById("lTramite").selectedIndex].text;
            var lLocalidad = document.getElementById("lLocalidad").options[document.getElementById("lLocalidad").selectedIndex].text;
            var observacion = document.getElementById("observacion").value;
            var maxLength = 100;
            if (observacion.length > maxLength) {
                observacion = observacion.substring(0, maxLength);
                alert(`El texto ha superado el limite de ${maxLength} caracteres.`);
            }
            var idOficio = parseInt(document.getElementById("id_oficio").value) + 1;
            
            // Crear un nuevo documento PDF
            const { jsPDF } = window.jspdf;
            const doc = new jsPDF('p', 'mm', 'a4');

            // Dimensiones originales del JPG
            const originalWidth = 600;  // Ancho original en píxeles
            const originalHeight = 860;  // Alto original en píxeles

            // Dimensiones del documento A4 en mm
            const a4Width = 210;  // Ancho A4
            const a4Height = 297; // Alto A4

            // Calcular la escala para ajustar la imagen al tamaño A4
            const scaleX = a4Width / originalWidth;
            const scaleY = a4Height / originalHeight;
            const scale = Math.min(scaleX, scaleY); // Usar la menor escala para mantener la relación de aspecto

            // Nuevas dimensiones escaladas
            const scaledWidth = originalWidth * scale;
            const scaledHeight = originalHeight * scale;

            // Función para agregar la plantilla a una página
            function addTemplate() {
                // Centrar la imagen en la página
                const xOffset = (a4Width - scaledWidth) / 2;
                const yOffset = (a4Height - scaledHeight) / 2;

                // Agregar la imagen con las dimensiones escaladas
                doc.addImage('/static/img/formatooficio1.jpg', 'JPEG', xOffset, yOffset, scaledWidth, scaledHeight);
            }

            // Llamar a la función para agregar la plantilla
            addTemplate();


            // Configurar la fuente y el tamaño de texto
            doc.setFont("times", "normal");
            doc.setFontSize(12);

            // Definir márgenes y posición
            const pageWidth = doc.internal.pageSize.getWidth();
            const pageHeight = doc.internal.pageSize.getHeight();
            const leftMargin = 20; // Establecer el margen izquierdo para el contenido principal
            const rightMargin = 20;
            let ajusteVertical = 35; // Iniciar más abajo para evitar que se solape con el logo

            // Bloque de texto alineado a la izquierda en negrita
            doc.setFont("times", "bold"); // Cambiar a fuente en negrita
            ajusteVertical += 12;
            doc.text(`DF-GCR- ${idOficio}`, leftMargin, ajusteVertical);  // Texto en negrita
            ajusteVertical += 10;
            doc.text('Bogotá D.C. ' + new Date().toLocaleDateString() + ' ' + new Date().toLocaleTimeString(), leftMargin, ajusteVertical);  // Texto en negrita
            ajusteVertical += 10;

            // Volver a fuente normal
            doc.setFont("times", "bold");
            // Detalles del destinatario alineados a la izquierda
            doc.text(`Señor`, leftMargin, ajusteVertical);
            doc.setFont("times", "normal"); // Cambiar a fuente en negrita para el resto del texto

            // Verifica si el trámite es en Bogotá
            if (lTramite === "Bogota D.C") {
                doc.text(`Registrador(a) auxiliar de la localidad de ${lLocalidad}`, leftMargin + doc.getTextWidth("Señor  "), ajusteVertical);
            } else {
                doc.setFont("times", "bold");
                doc.text(`Señores`, leftMargin, ajusteVertical);
                doc.setFont("times", "normal");
                doc.text(`Delegados Departamentales de ${lTramite}`, leftMargin + doc.getTextWidth("Señores  "), ajusteVertical);
            }
            ajusteVertical += 8;

            // Texto en fuente normal para todo, excepto "Ref:"
            doc.setFont("times", "bold"); // Cambiar a fuente en negrita solo para "Ref:"
            doc.text(`Ref:`, leftMargin, ajusteVertical); // "Ref:" en negrita

            // Cambiar a fuente normal para el resto del texto
            doc.setFont("times", "normal"); // Cambiar a fuente normal
            doc.text(` Trámite De Duplicado De ${tipoDocumento}`, leftMargin + doc.getTextWidth("Ref:"), ajusteVertical); // "TRÁMITE DE DUPLICADO DE" en normal

            doc.setFont("times", "normal"); // Volver a fuente normal
            ajusteVertical += 8;

            // Texto "FECHA DE GENERACIÓN DOCUMENTO" en negrita
            doc.setFont("times", "bold"); // Cambiar a fuente en negrita
            doc.text(`Fecha De Generación Documento: `, leftMargin, ajusteVertical);

            // Texto de la fecha en estilo normal con un pequeño espacio
            doc.setFont("times", "normal"); // Volver a fuente normal
            let espacio = 5; // Espacio adicional entre el texto y la fecha

            // Formato de fecha sin segundos
            let fechaGeneracion = new Date().toLocaleDateString(); // Solo la fecha
            let horaGeneracion = new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }); // Solo horas y minutos

            doc.text(`${fechaGeneracion} ${horaGeneracion}`, leftMargin + doc.getTextWidth('Fecha De Generación Documento: ') + espacio, ajusteVertical);

            ajusteVertical += 8;

            // Función para formatear la fecha en formato dd-mm-yyyy
            function formatDate(date) {
                const day = String(date.getDate()).padStart(2, '0');
                const month = String(date.getMonth() + 1).padStart(2, '0');
                const year = date.getFullYear();
                return `${day}/${month}/${year}`;
            }

            // Obtener la fecha actual
            const currentDate = new Date();

            // Calcular la fecha de caducidad sumando 8 días
            const expirationDate = new Date(currentDate);
            expirationDate.setDate(currentDate.getDate() + 8);

            // Formatear la fecha de caducidad
            const formattedExpirationDate = formatDate(expirationDate);

            // Texto "FECHA DE CADUCIDAD DE ESTE DOCUMENTO" en negrita
            doc.setFont("times", "bold"); // Cambiar a fuente en negrita
            doc.text(`Fecha De Caducidad De Este Documento: `, leftMargin, ajusteVertical);

            // Texto de la fecha en estilo normal con un pequeño espacio
            doc.setFont("times", "normal"); // Volver a fuente normal
            doc.text(formattedExpirationDate, leftMargin + doc.getTextWidth('Fecha De Caducidad De Este Documento: ') + espacio, ajusteVertical);

            ajusteVertical += 10;

            // Volver a fuente normal
            doc.setFont("times", "normal");

            // Cuerpo principal del texto
            doc.setFontSize(12);

            // Texto inicial alineado a la izquierda
            doc.text('Respetados doctores.', leftMargin, ajusteVertical); // Texto normal
            ajusteVertical += 8; // Espacio después del texto inicial

            // Texto inicial antes de la parte en negrita
            let bodyTextInicial = 'De manera atenta me permito informar que revisados los archivos planos del ';
            doc.text(bodyTextInicial, leftMargin, ajusteVertical);

            // Obtener el ancho del texto inicial
            let anchoTextoInicial = doc.getTextWidth(bodyTextInicial);

            doc.setFont('times', 'normal');
            doc.text(`${banco},`, leftMargin + anchoTextoInicial, ajusteVertical);

            // Volver a fuente normal para el texto final
            doc.setFont('times', 'normal');

            // Texto final que incluye "se verificó la siguiente consignación"
            let bodyTextFinal = `se verificó la siguiente consignación: ${aPlano}`;

            // Mover a la siguiente línea
            ajusteVertical += 5;

            // Reducir el ancho máximo de las líneas para limitar la cantidad de líneas
            let lineHeightReduction = 6 * 5; // 6 líneas, asumiendo que cada línea ocupa 5 unidades verticales
            let bodyTextFinalLines = doc.splitTextToSize(bodyTextFinal, pageWidth - leftMargin - rightMargin);

            // Verificar cuántas líneas fueron generadas y reducir el ajuste vertical
            if (bodyTextFinalLines.length > 6) {
                bodyTextFinalLines = bodyTextFinalLines.slice(0, bodyTextFinalLines.length - 6); // Eliminar 6 líneas del final
            }

            // Dibujar las líneas del texto final
            doc.text(bodyTextFinalLines, leftMargin, ajusteVertical);

            // Ajustar el espacio vertical según el número de líneas generadas
            ajusteVertical += bodyTextFinalLines.length * 4;

            // Asegúrate de que el siguiente texto no se superponga
            ajusteVertical += 5; // Agregar espacio entre bodyTextFinal y bodyText2

            doc.setFontSize(12);
            // Detalles adicionales del proceso y texto final combinado
            let bodyText2 = `Por lo tanto, se certifica el ingreso de los recursos a la cuenta del FRR para el trámite de duplicado de ${tipoDocumento} al ciudadano(a) ${nombreCompleto} con cupo numérico ${nDocumento}, el cual se presenta por ${motivoAutorizacion}. Favor recibir la documentación y verificar en su correo electrónico el código único de autorización de validez del documento. Este código será enviado a su correo inmediatamente después de haberse generado el documento.`;

            // Ajustar el texto bodyText2 a la página
            doc.text(bodyText2, leftMargin, ajusteVertical, { align: "justify", maxWidth: pageWidth - leftMargin - rightMargin });


            // Firma y detalles finales alineados a la izquierda
            doc.setFontSize(12);

            // Agregar un espacio adicional antes de "Cordialmente"
            ajusteVertical += 30;
            doc.text('Cordialmente,', leftMargin, ajusteVertical); // Cambiado para alineación a la izquierda
            // Texto de observaciones
            let bodyText3 = `Observaciones: ${observacion}`;

            // Firma alineada a la izquierda
            ajusteVertical += 10;
            doc.addImage('/static/img/firma.png', 'PNG', leftMargin, ajusteVertical, 35, 15); // Firma alineada a la izquierda

            ajusteVertical += 20; // Espacio después de la firma

            // Dividir el texto en líneas que se ajusten al ancho disponible de la página
            let bodyText3Lines = doc.splitTextToSize(bodyText3, pageWidth - leftMargin - rightMargin);

            // Dibujar cada línea de texto en el PDF
            doc.text(bodyText3Lines, leftMargin, ajusteVertical);

            // Ajustar el espacio vertical después de imprimir el texto
            ajusteVertical += bodyText3Lines.length * 5;
            ajusteVertical += 7;
            doc.text('CARLOS ANDRÉS CONTRERAS GONZÁLEZ', leftMargin, ajusteVertical); // Alineado a la izquierda

            ajusteVertical += 6; // Espacio después del nombre
            doc.text('Coordinador Control de Recaudos', leftMargin, ajusteVertical); // Alineado a la izquierda

            ajusteVertical += 10;

            // Detalles del usuario que lo elaboró alineados a la izquierda
            doc.text(`Elaboro: ${Usuario}`, leftMargin, ajusteVertical); // Alineado a la izquierda
            ajusteVertical += 6;
            doc.text(`Aprobó: Carlos Andrés Contreras González`, leftMargin, ajusteVertical);
            ajusteVertical += 18;

            // Definir tamaño de fuente más pequeño
            doc.setFontSize(7);

            // Obtener el ancho del texto para 
            const text = `Ley 527 de 1999, Articulo 28 – “ATRIBUTOS JURIDICOS DE UNA FIRMA DIGITAL” Parágrafo. “El uso de una firma digital tendrá la misma fuerza y efectos que el uso de una
            sfirma manuscrita...” Artículo declarado EXEQUIBLE por la Corte Constitucional mediante Sentencia C-662-00 de 8 de junio de 2000`;
            const textWidth = doc.getTextWidth(text);

            // Imprimir el texto centrado
            doc.text(text, leftMargin, ajusteVertical);

            // Actualizar la posición vertical para la siguiente línea
            ajusteVertical += 15;
            // Descargar el archivo PDF
            doc.save("documento_oficio.pdf");

            // Enviar el formulario para guardar en la base de datos
            setTimeout(function () {
                document.getElementById("form1").submit();  // Enviar el formulario después de generar el PDF
            }, 500);  // Esperar 500ms antes de enviar el formulario
        });

    </script>


    </script>
    <script>
        $(document).ready(function () {
            // Inicialmente, desbloquear solo el campo de documento y bloquear el resto
            toggleFormFields(true);
            $("#nDocumento").prop('disabled', false);

            // Evento al escribir en el campo de documento
            $('#nDocumento').keyup(function () {
                let documento = $(this).val();
                if (documento.length > 5) {
                    toggleFormFields(false);
                    configurarFormulario();  // Configurar el formulario cuando esté desbloqueado
                } else {
                    // Bloquear todos los campos del formulario excepto el campo de documento
                    toggleFormFields(true);
                }
            });

            // Inicialmente, deshabilitar el campo de localidad
            $("#lLocalidad").prop('disabled', true);
            $("#Usuario").prop('disabled', true);

            // Evento de cambio en el campo de trámite
            $('#lTramite').change(function () {
                // Obtener el valor seleccionado
                let lugarTramite = $(this).val().trim();
                console.log("Valor seleccionado en lTramite:", lugarTramite);

                // Comparar el valor seleccionado con el valor esperado
                if (lugarTramite === 'Bogota D.C') {
                    $("#lLocalidad").prop('disabled', false); // Habilitar el campo de localidad
                } else {
                    $("#lLocalidad").prop('disabled', true); // Deshabilitar el campo de localidad
                }
            });

            // Función para habilitar o deshabilitar campos del formulario
            function toggleFormFields(disabled) {
                $("input").not("#nDocumento, #lLocalidad").prop('disabled', disabled);
                $("textarea").prop('disabled', disabled);
                $("select").not("#lLocalidad").prop('disabled', disabled); // Excluir el campo de localidad
                $("checkbox").prop('disabled', disabled);
                $("radio").prop('disabled', disabled);
                $("label").prop('disabled', disabled);
            }

            // Configuración del formulario cuando está desbloqueado
            function configurarFormulario() {
                // Actualizar campo de texto dinámicamente según el valor ingresado
                $("#txtDocumento").text($("#nDocumento").val());

                $('#nombreCompleto').keyup(function () {
                    $("#txtNombre").text($(this).val());
                });

                $("#lTramite").change(function () {
                    $("#txtTramite").text($("#lTramite option:selected").text());
                });

                $("#lLocalidad").change(function () {
                    $("#txtTramite2").text($("#lLocalidad option:selected").text());
                });

                $("#motivoAutorizacion").change(function () {
                    $("#txtMotivo").text($("#motivoAutorizacion option:selected").text());
                });

                $("#tipoDocumento").change(function () {
                    var str = $("#tipoDocumento option:selected").text();
                    var valor = $(this).val();
                    var consignacion;
                    switch (valor) {
                        case '2': // CC
                            consignacion = 49350;
                            break;
                        case '3': // TI
                            consignacion = 48400;
                            break;
                        case '1': // RC
                            consignacion = 8000;
                            break;
                        case '4':
                            consignacion = 4500;
                            break;
                        default:
                            consignacion = 0;
                            break;
                    }
                    $('#txtTipoDocumento').text(str);
                    $('#valorConsignacion').val(consignacion);
                });

                $("#banco").change(function () {
                    var str = $("#banco option:selected").text();
                    var valor = $(this).val();
                    var particula = (valor == 1 || valor == 2) ? "del " : "de ";
                    $('#particulaBanco').text(particula);
                    $('#txtBanco').text(str);
                });

                $('#aPlano').keyup(function () {
                    $("#txtPlano").text($(this).val());
                });

                // Checkboxes
                $("#checkboxes").change(function () {
                    var favorite = [];
                    $.each($("input[name='vDoc']:checked"), function () {
                        favorite.push($(this).val());
                    });
                    $("#txtValidacion").text(favorite.join(", "));
                });

                $("#madeBy").change(function () {
                    var valor = $(this).val();
                    if (!valor) {
                        $('#madeBy').css('border-color', 'red');
                        $('#btnExportar').prop('disabled', true);
                        $('#btnGuardar').prop('disabled', true);
                    } else {
                        $('#madeBy').css('border-color', '');
                        $('#btnExportar').prop('disabled', false);
                        if (!$('#nOficio').val()) {
                            $('#btnGuardar').prop('disabled', false);
                        }
                    }
                });
            }

            function ajustarTamanoFuente(element) {
                let fontSize = 16; // Tamaño inicial de la fuente en píxeles
                element.style.fontSize = `${fontSize}px`;

                // Ajustar el tamaño de la fuente si el texto supera el contenedor
                while (element.scrollHeight > element.offsetHeight && fontSize > 8) { // Limitar el tamaño mínimo de la fuente a 8px
                    fontSize--;
                    element.style.fontSize = `${fontSize}px`;
                }
            }

            function actualizarTextoPlano() {
                const txtPlano = document.getElementById("txtPlano");
                const texto = txtPlano.textContent || txtPlano.innerText;

                // Actualizar el contenido del elemento con el texto ingresado
                txtPlano.textContent = texto;

                // Ajustar el tamaño de la fuente para que el texto se ajuste al contenedor
                ajustarTamanoFuente(txtPlano);
            }

            // Configurar el evento para actualizar el texto y ajustar el tamaño de la fuente
            document.getElementById("aPlano").addEventListener("keyup", function () {
                const txtPlano = document.getElementById("txtPlano");
                txtPlano.textContent = this.value;
                actualizarTextoPlano();
            });

            function actualizarHora() {
                const ahora = new Date();
                const opciones = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false };
                const fechaHora = ahora.toLocaleString('es-ES', opciones);
                document.getElementById('horaActual').textContent = `Bogotá D.C. ${fechaHora}`;
            }


            //Seleccion de Bogota para cambiar el archivo PDF
            document.getElementById('lTramite').addEventListener('change', function () {
                var selectedCity = this.value; // Obtiene el valor seleccionado
                var localidadText = document.getElementById('localidad-text'); // Elemento que queremos mostrar/ocultar

                if (selectedCity === 'Bogota D.C') {
                    localidadText.style.display = 'inline'; // Muestra el texto si se selecciona Bogotá D.C.
                } else {
                    localidadText.style.display = 'none'; // Oculta el texto si se selecciona cualquier otra ciudad
                }
            });



            // Actualizar la hora al cargar la página
            actualizarHora();

            // Actualizar la hora cada segundo
            setInterval(actualizarHora, 1000);
        });
    </script>
    <script>
        document.getElementById('form1').addEventListener('submit', function (event) {
            event.preventDefault(); // Evita el envío por defecto del formulario

            // Aquí podrías añadir tu lógica de validación o envío por AJAX si es necesario
            // Si el envío es exitoso, muestra el mensaje
            alert('PDF generado exitosamente.');

        });
    </script>

</body>

</html>