<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type='image/x-icon' rel='shortcut icon' href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Certificaciones</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <style>
        body {
            background: radial-gradient(circle at 67.6% 20.39%, rgba(255, 255, 255, 0.5), transparent 69%),
                radial-gradient(circle at 88.75% 28.67%, rgba(255, 255, 255, 0.5), transparent 60%),
                radial-gradient(circle at 13.33% 0.38%, #bedbf752, transparent 38%),
                radial-gradient(circle at 86.77% 1.6%, #bedbf752, transparent 39%),
                radial-gradient(circle at 81.09% 74.15%, rgba(255, 255, 255, 0.5), transparent 57%),
                radial-gradient(circle at 67.81% 96.71%, #bedbf752, transparent 36%),
                radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%);
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-family: 'Montserrat', sans-serif;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>

<body>
    <div>
        {% include 'header.html' %}
    </div>

    <div class="container">
        <br><br>
        <div class="row">

            <form id="form1" name="form1" action="/add_oficios" method="POST">
                <div class="col-md-6">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nDocumento">Número de Documento</label>
                                <input type="text" class="form-control" name="nDocumento" id="nDocumento" />
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Usuario">Nombre Del Funcionario</label>
                                <h4><input type="text" name="Usuario" id="Usuario" value="{{ nombre_usuario }}" /></h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <input type="hidden" name="nOficio" id="nOficio" readonly />
                        <!-- *********************************** -->

                        <div class="col-md-6">
                            <div class="form-group">

                                <label for="tipoDocumento">Tipo de Documento</label>
                                <select name="tipoDocumento" class="form-control" id="tipoDocumento">
                                    <option value="1" selected="selected">Seleccione</option>
                                    {% for tipoDoc in tipodocumento %}
                                    <option value="{{ tipoDoc[0] }}">{{ tipoDoc[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">

                            <div class="form-group">

                                <label for="motivoAutorizacion">Motivo de autorización</label>
                                <select name="motivoAutorizacion" class="form-control" id="motivoAutorizacion">
                                    <option value="-1" selected="selected">Seleccione</option>
                                    {% for motivo in motivoautorizacion %}
                                    <option value="{{ motivo[0] }}">{{ motivo[1] }}</option>
                                    {% endfor %}
                                </select>

                            </div>

                        </div>
                    </div>

                    <label for="validacionDocumentos">Validación Documentos</label>
                    <div id="checkboxes">
                        <div class="row">
                            {% for doc in validaciondocumentos %}
                            <div class="col-md-6">
                                <label for="vDoc" class="checkbox-inline">
                                    <input type="checkbox" name="vDoc" id="vDoc{{ doc[0] }}" value="{{ doc[0] }}">
                                    {{ doc[1] }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="aPlano">Archivo Plano</label>
                        <textarea class="form-control" name="aPlano" id="aPlano" rows="2"></textarea>


                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nombreCompleto">Nombre</label>
                                <input type="text" name="nombreCompleto" class="form-control" id="nombreCompleto" />

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="banco">Banco</label>
                                <select name="banco" class="form-control" id="banco">
                                    <option value="1" selected="selected">Seleccione</option>
                                    {% for banco in bancos %}
                                    <option value="{{ banco[0] }}">{{ banco[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>                        
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dfecha">Fecha Consignación </label>
                                <input type="date" name="dfecha" id="dFecha" class="form-control">

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="valorConsignacion">Valor de Consignación </label>
                                <input type="text" name="valorConsignacion" id="valorConsignacion" class="form-control">

                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">

                                <label for="lTramite">Lugar del trámite</label>
                                <select name="lTramite" id="lTramite" class="form-control">
                                    <option value="-1" selected="selected">Seleccione</option>
                                    {% for dtos in departamentos %}
                                    <option value="{{ dtos[0] }}">{{ dtos[1] }}</option>
                                    {% endfor %}
                                </select>

                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lLocalidad">Localidad Trámite</label>
                                <select name="lLocalidad" id="lLocalidad" class="form-control">
                                    <option value="">No seleccionado</option>
                                    {% for loc in localidades %}
                                    <option value="{{ loc[0] }}">{{ loc[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="observacion">Observaciones </label>
                        <textarea class="form-control" name="observacion" id="observacion" rows="2"
                            class="form-control"></textarea>

                    </div>



                    <div class="form-group">
                        <label id="botonPdf">
                            <button type="submit" class="btn btn-danger" id="btnGuardar">Guardar</button>
                        </label>

                    </div>
            </form>
        </div>


        <div class="col-md-6 "
            style="border-style:ridge; background-image: url('static/img/plantillaRecaudos.jpg'); width: 560px; height: 750px;">

            <div style="padding:115px 0 0 20px;">
                <h5>DF-GCR– <b id="txtOficio"></b> </h5>
                <h5 id="horaActual">Bogota D.C. 27-08-2024 10:03:25</h5>
                <p> Señor
                    <b> Señor <b> Delegados Departamentales de </b><b id="txtTramite"></b>
                </p>
                <p><b>Ref:TRÁMITE DE DUPLICADO DE </b> <b id="txtTipoDocumento"></b></p>
                <h6>FECHA DE GENERACIÓN DOCUMENTO  : </h6>
                <h6>FECHA DE CADUCIDAD DE ESTE DOCUMENTO : </h6>
                <p>

                    <small> Respetados doctores. <br>

                        De manera atenta me permito informar que revisados los archivos planos <span
                            id="particulaBanco"></span> <b id="txtBanco"></b>
                        se verificó la siguiente consignación: </small>

                <table border="1" width="480px" height="100px">
                    <th id="txtPlano" class="txtPlano" style="font-size: 20px;"></th>
                </table>
                <input type="text" id="aPlano" class="hidden">

                </p>
                <p class="text-justify"><small>
                        Por lo tanto se Certifica el ingreso de los recursos a la cuenta del FRR para el tramite de
                        duplicado de <b id="txtTipoDocumento"> </b> al ciudadano(a):
                        <b id="txtNombre"> </b> con cupo numérico: <b id="txtDocumento"> </b>
                        el cual se presenta por <b id="txtMotivo"> </b>, favor recibir la siguiente
                        documentacion <b id="txtValidacion"> </b>, y verificar en su correo electrónico el código único:
                        <b id="txtCodigoUnico"> </b> de autorización de validez del documento, generado en la
                        coordinación
                        de recaudos que se enviará a su correo inmediatamente se haya generado este documento.
                        Cordialmente,
                    </small>
                </p>



                <p>
                    CARLOS ANDRÉS CONTRERAS GONZÁLEZ<br>
                    Coordinador Control de Recaudos
                </p>

                <p class="firma" id="firma"></p>
                <small><input type="hidden" name="ip" id="ip" value="172.23.11.96"></small>
            </div>

        </div>

    </div>

    </div>

    <script>
        $(document).ready(function () {
            // Inicialmente, desbloquear solo el campo de documento y bloquear el resto
            toggleFormFields(true);
            $("#nDocumento").prop('disabled', false);

            // Evento al escribir en el campo de documento
            $('#nDocumento').keyup(function () {
                let documento = $(this).val();
                if (documento.length > 5) {
                    toggleFormFields(false);
                    configurarFormulario();  // Configurar el formulario cuando esté desbloqueado
                } else {
                    // Bloquear todos los campos del formulario excepto el campo de documento
                    toggleFormFields(true);
                }
            });

            // Evento de cambio en el campo de tramite
            $(document).ready(function () {
                // Inicialmente, deshabilitar el campo de localidad
                $("#lLocalidad").prop('disabled', true);
                $("#Usuario").prop('disabled', true);

                // Evento de cambio en el campo de trámite
                $('#lTramite').change(function () {
                    // Obtener el valor seleccionado
                    let lugarTramite = $(this).val().trim();
                    console.log("Valor seleccionado en lTramite:", lugarTramite);

                    // Comparar el valor seleccionado con el valor esperado
                    if (lugarTramite === 'Cundinamarca') {
                        $("#lLocalidad").prop('disabled', false); // Habilitar el campo de localidad
                    } else {
                        $("#lLocalidad").prop('disabled', true); // Deshabilitar el campo de localidad
                    }
                });
            });

            // Función para habilitar o deshabilitar campos del formulario
            function toggleFormFields(disabled) {
                $("input").not("#nDocumento, #lLocalidad").prop('disabled', disabled);
                $("textarea").prop('disabled', disabled);
                $("select").not("#lLocalidad").prop('disabled', disabled); // Excluir el campo de localidad
                $("checkbox").prop('disabled', disabled);
                $("radio").prop('disabled', disabled);
                $("label").prop('disabled', disabled);
            }

            // Configuración del formulario cuando está desbloqueado
            function configurarFormulario() {
                // Actualizar campo de texto dinámicamente según el valor ingresado
                $("#txtDocumento").text($("#nDocumento").val());

                $('#nombreCompleto').keyup(function () {
                    $("#txtNombre").text($(this).val());
                });

                $("#lTramite").change(function () {
                    $("#txtTramite").text($("#lTramite option:selected").text());
                });

                $("#motivoAutorizacion").change(function () {
                    $("#txtMotivo").text($("#motivoAutorizacion option:selected").text());
                });

                $("#tipoDocumento").change(function () {
                    var str = $("#tipoDocumento option:selected").text();
                    var valor = $(this).val();
                    var consignacion;
                    switch (valor) {
                        case '2': // CC
                            consignacion = 49350;
                            break;
                        case '3': // TI
                            consignacion = 48400;
                            break;
                        case '1': // RC
                            consignacion = 8000;
                            break;
                        case '4':
                            consignacion = 4500;
                            break;
                        default:
                            consignacion = 0;
                            break;
                    }
                    $('#txtTipoDocumento').text(str);
                    $('#valorConsignacion').val(consignacion);
                });

                $("#banco").change(function () {
                    var str = $("#banco option:selected").text();
                    var valor = $(this).val();
                    var particula = (valor == 1 || valor == 2) ? "del " : "de ";
                    $('#particulaBanco').text(particula);
                    $('#txtBanco').text(str);
                });

                $('#aPlano').keyup(function () {
                    $("#txtPlano").text($(this).val());
                });

                // Checkboxes
                $("#checkboxes").change(function () {
                    var favorite = [];
                    $.each($("input[name='vDoc']:checked"), function () {
                        favorite.push($(this).val());
                    });
                    $("#txtValidacion").text(favorite.join(", "));
                });

                $("#madeBy").change(function () {
                    var valor = $(this).val();
                    if (!valor) {
                        $('#madeBy').css('border-color', 'red');
                        $('#btnExportar').prop('disabled', true);
                        $('#btnGuardar').prop('disabled', true);
                    } else {
                        $('#madeBy').css('border-color', '');
                        $('#btnExportar').prop('disabled', false);
                        if (!$('#nOficio').val()) {
                            $('#btnGuardar').prop('disabled', false);
                        }
                    }
                });
            }

            function ajustarTamanoFuente(element) {
                let fontSize = 16; // Tamaño inicial de la fuente en píxeles
                element.style.fontSize = `${fontSize}px`;

                // Ajustar el tamaño de la fuente si el texto supera el contenedor
                while (element.scrollHeight > element.offsetHeight && fontSize > 8) { // Limitar el tamaño mínimo de la fuente a 8px
                    fontSize--;
                    element.style.fontSize = `${fontSize}px`;
                }
            }

            function actualizarTextoPlano() {
                const txtPlano = document.getElementById("txtPlano");
                const texto = txtPlano.textContent || txtPlano.innerText;

                // Actualizar el contenido del elemento con el texto ingresado
                txtPlano.textContent = texto;

                // Ajustar el tamaño de la fuente para que el texto se ajuste al contenedor
                ajustarTamanoFuente(txtPlano);
            }

            // Configurar el evento para actualizar el texto y ajustar el tamaño de la fuente
            document.getElementById("aPlano").addEventListener("keyup", function () {
                const txtPlano = document.getElementById("txtPlano");
                txtPlano.textContent = this.value;
                actualizarTextoPlano();
            });

            function actualizarHora() {
                const ahora = new Date();
                const opciones = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false };
                const fechaHora = ahora.toLocaleString('es-ES', opciones);
                document.getElementById('horaActual').textContent = `Bogotá D.C. ${fechaHora}`;
            }

            // Actualizar la hora al cargar la página
            actualizarHora();

            // Actualizar la hora cada segundo
            setInterval(actualizarHora, 1000);
        });
    </script>


</body>

</html>